body {
	font-size: 20pt;
}

#slots {
	text-align: center;
}

.inactive {
	display: none;
}

button {
	font-size: 16pt;
	background-color: indianred;
	border: none;
	width: 3em;
	height: 2em;
	text-align: center;
	vertical-align: middle;
	line-height: 1em;
	border-radius: 3px;
}

#radios {
	font-size: 14pt;
}

.elem {
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: antiquewhite;
	margin: 3px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	line-height: 2em;
}

.slot-img {
	border-radius: 3px;
	width: 50px;
	height: 50px;
}